<div class="header">
  <h2>Recent Sightings and Stories</h2>
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h3>Share your experience</h3>
      <div class="form-group">
      <label for="exampleFormControlTextarea3"></label>
      <textarea class="form-control" id="exampleFormControlTextarea3" rows="7"></textarea>
      <button type="button" class="btn btn-success">Submit</button>
    </div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
</div>

<div class="footer">
  <h2>Leo Pignanelli -- </h2>
</div>