<div id="login">
  <div class="login-card">
    <h2>Login</h2>
    <form id="loginform">
      <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="login-card">
    <h2>Register</h2>
    <form id="registerForm">
      <div>
        <label for="name-register">Name:</label>
        <input type="text" id="username-register" />
      </div>
      <div>
        <label for="email-register">Email:</label>
        <input type="email" id="email-register" />
      </div>
      <div>
        <label for="password-register">Password:</label>
        <input type="password" id="password-register" />
      </div>
      <div>
        <button type="submit">Register</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>